<% content_for :title, 'Logowanie' %>
<h1>Logowanie</h1>
<div class="row">
	<div class="col-md-6">
		<%= form_for(:session, url: login_path) do |f| %>
			<div class="form-group">
				<%= f.label :email, 'Adres email' %>
				<%=
				f.text_field :email, class: 'form-control', placeholder: 'Wpisz email'
				%>
				<%= error_message_for(f.object, :email) %>
			</div>
			<div class="form-group">
				<%= f.label :password, 'Hasło' %>
				<%=
				f.password_field :password, class: 'form-control',
				placeholder: 'Wpisz hasło'
				%>
				<%= error_message_for(f.object, :password) %>
			</div>
			<div class="actions">
				<%= f.submit 'Zaloguj się', class: 'btn btn-primary' %>
			</div>
		<% end %>
		<p>
		Nie masz jeszcze konta?
		<%= link_to "Zarejestruj się już teraz!", signup_path %>
		</p>
	</div>
</div>

