<div class="row">
	<div class="col-md-6">
		<%= form_for(photo) do |f| %>
			<div class="form-group">
			<%= f.label :title, 'Tytuł' %>
			<%=
			f.text_field :title, class: 'form-control', placeholder: 'Wpisz tytuł'
			%>
			</div>
			<div class="form-group">
			<%= f.label :description, 'Opis' %>
			<%=
			f.text_area :description, class: 'form-control',
			placeholder: 'Wpisz opis'
			%>
			</div>
			<div class="form-group">
			<%= f.label :image, 'Plik zdjęcia' %>
			<%= f.file_field :image	%>
			</div>
			<div class="actions">
			<%= f.submit 'Zapisz zdjęcie', class: 'btn btn-primary' %>
			</div>
		<% end %>
	</div>
</div>