<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button
						type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#navbar" aria-expanded="false" aria-controls="navbar"
					>
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to "Picturest", '#', id: "logo", class: "navbar-brand" %>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><%= link_to "Strona główna", root_path %></li>
						<li><%= link_to "Zdjęcia", photos_path %></li>
						<li><%= link_to "O nas", about_path %></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if logged_in? %>
							<li><%= link_to "Moje konto", account_path %></li>
							<li><%= link_to "Wyloguj się", logout_path, method: :delete %></li>
						<% else %>
							<li><%= link_to "Logowanie", login_path %></li>
							<li><%= link_to "Rejestracja", signup_path %></li>
						<% end %>
					</ul>
				</div>
				</div>
</nav>